  database:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      PGSQL_DATABASE: laravel
      PGSQL_ROOT_PASSWORD: root
      SERVICE_TAGS: dev
      SERVICE_NAME: postgresql
    networks:
      - app_network
